<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Juego - Gamers CAC</title>
<!-- favicon de la Página -->
    <link
      rel="icon"
      type="image/vnd.microsoft.icon"
      href="../static/img/favheadset.ico"
    >
<!-- fuentes e iconos de la Página -->
    <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
      rel="stylesheet"
    >
<!-- estilos css -->
    <link rel="stylesheet" href="../static/css/index.css" >
    <!-- iconos -->
    <script
    src="https://kit.fontawesome.com/eb496ab1a0.js"
    crossorigin="anonymous"
  ></script>
  <!-- js efecto de carrusel de imagenes -->
  <script defer src="../static/js/carrousel.js"></script>
  </head>
<!-- body de la Página -->
  <body>
    <!-- cabecera y navegacion de la Página -->
    <header class="header">
      <div class="logo">
        <a href="../index.html"><img src="../static/img/logo.png" alt="Logo" ></a>
      </div>
      <span class="logo-texto">
        <a href="../index.html" class="log">GAMERS CAC</a>
      </span>
      <nav>
        <ul class="nav-links">
          <li><a href="./resultado.html">Recomendados</a></li>
          <li><a href="./resultado.html">F2P</a></li>
          <li><a href="./resultado.html">Proximamente</a></li>
        </ul>
      </nav>
      <a class="btn" href="../templates/register.html"
        >Registro</a
      >
      <a class="btn" href="../templates/login.html">Ingreso</a>
    </header>

   
     <!-- boton flotante de acceso tipo spa -->
    <div class="contai">
      <input type="checkbox" id="btn-mas">
      <div class="detalle">
          <a href="#imagen" >Imagenes</a>
          <a href="#info" >Informacion</a>
          <a href="#videox" >Video</a>
      </div>
      <div class="btn-mas">
          <label for="btn-mas" class="fa fa-plus"></label>
      </div>
  </div>
   <!-- contenido de la pagina del juego seleccionado -->
    <div class="flex-contenedor">
        <div class="flex-area" id="prim">
          <h1>Wuthering Waves</h1>
          <br>
          <div class="linea1">
            <b class="titulo">Titulo \\ </b><b> Wuthering Waves</b>
          </div>
          <br><br><br>
          <div class="conti">
            <div class="carrousel">
              <div class="grande" id="imagen">
                <img src="../static/img/m_wuthering-wavl.jpg" alt="Imagen1" class="img" >
                <img src="../static/img/wuwa.jpg" alt="Imagen2" class="img" >
                <img src="../static/img/WutheringWaves_Charal.jpg" alt="Imagen1" class="img" >
              </div>
              <ul class="puntos">
                <li class="punto activo">🔘</li>
                <li class="punto">🔘</li>
                <li class="punto">🔘</li>
              </ul>
            </div>
          </div>
          <div class="infotext" id="info">
            <p class="tittext">
              Informacion </p><br>
              <p>
              Wuthering Waves esta situado en un mundo post-apocalíptico futurista donde una catástrofe que se conoce como Lamento arrasó con el mundo, aniquilando una gran parte de la humanidad y llegando al borde de la extinción. Después de la catástrofe, varios seres desconocidos y monstruos llegaron al mundo, pero la humanidad se adaptaría pronto a la amenaza encontrando una manera de hacerles frentes, pudiendo vivir con los monstruos y reconstruyendo lentamente su civilización
La historia sigue al errante amnésico, quien ha despertado de un sueño profundo. En su viaje explorará grandes tierras, siendo recibido por un nuevo mundo lleno de hermosas vistas y nuevas tecnologías
            </p>
          </div>
          <br><br><br><br><br><br>
          <div class="linea1">
            <a href="https://wutheringwaves.kurogames.com/en/main" class="lin2"
              ><b class="titulo">Pagina Oficial \\ </b> <b> Wuthering Waves</b></a
            >
          </div>
          <br><br><br><br>
          <div class="linea2">
            <b class="titulo">Categorias  \\ </b
            ><a href="./resultado.html" class="lin2"><b> F2P </b></a
            ><a href="./resultado.html" class="lin2"><b> RPG </b></a>
          </div>
          <br><br><br><br><br>
          <div class="contvid" id="videox"> <p><iframe 
            src="https://www.youtube.com/embed/R8htow_6tRc?si=7xrNNgZBzfhU20kJ" 
            title="YouTube video player" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen></iframe></p></div>
            <br>  
        </div>
      </div>
 <!-- pie de pagina y enlace de contacto -->  
    <footer class="pie-pagina">
        <div class="grupo-1">
          <div class="box">
            <figure>
              <a href="../templates/contact.html">
                <img src="../static/img/numero-8.png" alt="Logo grupo 8" >
              </a>
            </figure>
          </div>
          <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>
              Con mucho esfuerzo y empeño, realizamos esta Website, para ser
              disfrutada por todos.
            </p>
            <p>
              Si debuggear es el proceso de remover errores de código entonces
              programar debe ser el proceso de ponerlos .- Edsger Dijkstra
            </p>
          </div>
          <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
            </div>
          </div>
        </div>
        <div class="grupo-2">
          <small
            >&copy; 2024 <b>Trabajo hecho para CAC </b> - Todos los Derechos
            Reservados.</small
          >
        </div>
      </footer>
    </body>
  </html>